*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #282A36;
}
header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}
header div{
    text-align: center;
}
header div a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
}
header div a:hover{
    color: #50FA7B;
    transition: .3s;
}

#wrapper{
    text-align: center;
    padding: 32px;
}
#wrapper img{
    border-radius: 50%;
    border: 2px solid #50FA7B;
    margin-bottom: 32px;
}

#wrapper h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper p a{
    text-decoration: none;
    color: #FFF;
}

#wrapper p a:hover{
    color: #50FA7B;
    transition: .3s;
}